body{font-family:Monaco,Lucida Console,monospace;font-size: 16px;line-height: 25px;color:black; background-color:lavenderblush; max-width: 1000px;width:90%; margin: auto;}
p{text-align:justify;}
div.emojis{font-size:25px;text-align: center;}
div#header{margin-bottom: 3em;}
img{max-width:100%;display:block;height:auto;margin-left:auto;margin-right:auto;border-radius:8px;}
img#selfie{max-width:100%;height:auto;margin-left:auto;margin-right:auto; border: 3px darkslategrey;border-radius:50%;}
a#title{text-decoration: none;color:darkslategrey;}
ul#menu{display:inline;list-style-type:none;margin:0;padding: 0;}
li#menu-element{display:inline;}
footer{text-align: center;}

